XFLConverter/src/svg/shapes-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xlink="http://www.w3.org/1999/xlink" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/svg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="svg">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="g">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="path">
                <xs:complexType>
                  <xs:attribute name="d" type="xs:string" use="required" />
                  <xs:attribute name="fill" type="xs:string" use="optional" />
                  <xs:attribute name="fill-rule" type="xs:string" use="optional" />
                  <xs:attribute name="fill-opacity" type="xs:decimal" use="optional" />
                  <xs:attribute name="stroke" type="xs:string" use="optional" />
                  <xs:attribute name="stroke-linecap" type="xs:string" use="optional" />
                  <xs:attribute name="stroke-linejoin" type="xs:string" use="optional" />
                  <xs:attribute name="stroke-miterlimit" type="xs:decimal" use="optional" />
                  <xs:attribute name="stroke-opacity" type="xs:decimal" use="optional" />
                  <xs:attribute name="stroke-width" type="xs:decimal" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="transform" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="defs" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="radialGradient">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="stop">
                      <xs:complexType>
                        <xs:attribute name="offset" type="xs:decimal" use="required" />
                        <xs:attribute name="stop-color" type="xs:string" use="required" />
                        <xs:attribute name="stop-opacity" type="xs:decimal" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="cx" type="xs:decimal" use="required" />
                  <xs:attribute name="cy" type="xs:decimal" use="required" />
                  <xs:attribute name="fx" type="xs:decimal" use="required" />
                  <xs:attribute name="fy" type="xs:decimal" use="required" />
                  <xs:attribute name="gradientTransform" type="xs:string" use="required" />
                  <xs:attribute name="gradientUnits" type="xs:string" use="required" />
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="r" type="xs:decimal" use="required" />
                  <xs:attribute name="spreadMethod" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="linearGradient">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="stop">
                      <xs:complexType>
                        <xs:attribute name="offset" type="xs:decimal" use="required" />
                        <xs:attribute name="stop-color" type="xs:string" use="required" />
                        <xs:attribute name="stop-opacity" type="xs:decimal" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="gradientTransform" type="xs:string" use="required" />
                  <xs:attribute name="gradientUnits" type="xs:string" use="required" />
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="spreadMethod" type="xs:string" use="required" />
                  <xs:attribute name="x1" type="xs:decimal" use="required" />
                  <xs:attribute name="x2" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="height" type="xs:string" use="required" />
      <xs:attribute name="width" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>